[package]
authors = ["Vladas Zakrevskis <146100@gmail.com>"]
edition.workspace = true
name = "window"
version.workspace = true

[lib]
crate-type = ["rlib", "staticlib"]
name = "window"

[dependencies]
anyhow = { workspace = true }
bytemuck = { workspace = true }
hreads = { workspace = true }
image = { workspace = true }
log = { workspace = true }
resvg = { workspace = true }
tiny-skia = { workspace = true }
usvg = "0.45"
web-time = { workspace = true }
wgpu = { workspace = true }

refs = { workspace = true }

gm = { workspace = true }
plat = { workspace = true }

wgpu_text = { workspace = true }

[target.'cfg(target_os = "android")'.dependencies]
android_logger = { workspace = true }
winit = { workspace = true, features = ["android-game-activity"] }

[target.'cfg(not(target_os = "android"))'.dependencies]
winit = { workspace = true }

[build-dependencies]
plat = "0.4.0"
