[target.aarch64-linux-android]
ar = "ndk/bin/aarch64-linux-android-ar"
linker = "ndk/bin/aarch64-linux-android-clang"

[target.armv7-linux-androideabi]
ar = "ndk/bin/armv7a-linux-androideabi-ar"
linker = "ndk/bin/armv7a-linux-androideabi21-clang"

[target.i686-linux-android]
ar = "ndk/bin/i686-linux-android-ar"
linker = "ndk/bin/i686-linux-android21-clang"

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"
rustflags = ["-Zshare-generics=off"]

[target.aarch64-pc-windows-msvc]
linker = "rust-lld.exe"
rustflags = ["-Zshare-generics=off"]

[target.aarch64-apple-ios]
rustflags = ["-C", "link-arg=-Wl,-platform_version,ios,13.0,13.0"]

[target.x86_64-apple-ios]
rustflags = ["-C", "link-arg=-Wl,-platform_version,ios-simulator,13.0,13.0"]

[profile.size]
codegen-units = 1
debug = false
inherits = "release"
lto = "fat"
opt-level = "z"
strip = true

[profile.release-debug]
debug = true
inherits = "release"

[profile.r2]
inherits = "release"
#debug = true
lto = "fat"
strip = true

[profile.r3]
codegen-units = 1
debug = false
inherits = "release"
lto = "fat"
opt-level = 3
overflow-checks = false
panic = "abort"
strip = true

[profile.profile]
codegen-units = 1
debug = "full"
inherits = "dev"
lto = "off"
opt-level = 0
strip = false

#[profile.dev.package."*"]
#opt-level = 3

#[profile.release]
#debug = true

[build]
rustflags = ["--cfg", "tokio_unstable"]
