[package]
name = "net"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.21", features = ["full"] }
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }

rtools = { path = "../rtools" }